@font-face { font-family: mono; src: url('/style/space-mono.regular.ttf'); }
@font-face { font-family: kat; src: url('/style/katze.ttf'); }

html {
  font-family: 'mono';
  color: #ded2ba;
  font-size: 16px;
  background-color: black;
  }
a, button {
  color: black;
  background-color: #ded2ba;
  text-decoration: none;
  border-radius: 10px;

  font-family: 'mono';
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  }
a:hover, button:hover {
  color: #ded2ba;
  background-color: #0f0f0f;
  }
.katze {
  font-family: 'kat';
  font-size: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 58px;
  }
.text {
  line-height: 1.5;
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 99%;
  }
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

