@font-face { font-family: mono; src: url('/style/space-mono.regular.ttf'); }
@font-face { font-family: kat; src: url('/style/katze.ttf'); }

html {
  font-family: 'mono';
  color: black;
  font-size: 16px;
/* width: 100%;
   height: 100%;
   background:url(image.png) center no-repeat;
   background-size: auto 50%; */
   background-color: white;
  }
a, button {
  color: white;
  background-color: black;
  text-decoration: none;
  border-radius: 10px;

/* for the button */
   font-family: 'mono';
   font-size: 16px;
   margin: 0;
   padding: 0;
   border: none;
   cursor: pointer;
  }
a:hover, button:hover {
  color: black;
  background-color: #ded2ba;
  }
.katze {
  font-family: 'kat';
  font-size: 52px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 58px;
  }
.text {
  line-height: 1.5;
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 99%;
  }
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

